/* Ioana Alex Mititean */
/* 11/7/22 */
/* 13.1.14: jQuery Exercises, PART TWO */

h1 {
    color: darkblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

label {
    display: block;
    margin-left: 15px;
}

input {
    display: block;
    margin: 0px 0px 15px 15px;
}

input[type="text"] {
    width: 75%;
}

#form-list-container {
    background-color: lightblue;
    display: flex;
}

#rating-form {
    background-color: lightgreen;
    width: 50%;
}

#movie-list {
    background-color: pink;
    width: 50%;
    list-style-type: square;
}