/* Ioana Alex Mititean */
/* 11/7/22 */
/* 13.1.14: jQuery Exercises, PART TWO */

h1 {
    color: darkblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

