/* Ioana Alex Mititean */
/* 11/7/22 */
/* 13.1.14: jQuery Exercises, PART TWO */

body {
    background-image: linear-gradient(aqua, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
    font-size: 50px;
}

label {
    display: block;
    margin-left: 15px;
}

input {
    display: block;
    margin: 0px 0px 15px 15px;
}

li {
    margin: 7px;
    border-bottom: 1px solid grey;
    width: 85%;
}

button {
    padding: 2px 7px;
    font-size: 1em;
}

input[type="text"] {
    width: 75%;
}

input[type="submit"] {
    background-color: lightgreen;
    font-size: 1em;
    font-weight: bold;
}

.del-button {
    background-color: orange;
    font-weight: bold;
    position: absolute;
    right: 30px;
}

#outer-container {
    background-color: lightblue;
    display: flex;
}

#rating-form-container {
    background-color: blueviolet;
    width: 50%;
}

#rating-form {
    background-color: lightgreen;
}

#movie-list-container {
    background-color: coral;
    width: 50%;
}

#movie-list {
    list-style-type: square;
}

#clear-list {
    background-color: red;
    font-weight: bold;
}
